.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: white;
  box-sizing: border-box;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 6vh;
  width: 100%;
  top: 0;
}

.App-body {
  width: 100%;
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: auto;
  font-size: calc(10px + 2vmin);
}

.App-body::-webkit-scrollbar {
  display: none; 
}

.App-footer {
  height: 16vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #999;
}