.div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.column-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.header-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-right: 14px;
}

.footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.footer-div:hover {
  filter: invert(22%) sepia(55%) saturate(6504%) hue-rotate(353deg) brightness(105%) contrast(130%);
  transform: scale(1.1);
}

.footer-div-current {
  filter: invert(22%) sepia(55%) saturate(6504%) hue-rotate(353deg) brightness(105%) contrast(130%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.popup {
  position: absolute;
  top: 6vh;
  right: 14px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
}