.footer-icon {
  display: flex;
  height: 8vh;
}

.delete-icon {
  margin: 0vh 1vh 0vh 1vh;
  position: relative;
  float: right;
  display: flex;
  height: 4vh;
  cursor: pointer;
  transition: all 0.2s ease;
}

.delete-icon:hover {
  filter: invert(22%) sepia(55%) saturate(6504%) hue-rotate(353deg) brightness(105%) contrast(130%);
  transform: scale(1.05);
}

.save-icon {
  margin: 0vh 1vh 0vh 1vh;
  position: relative;
  float: right;
  display: flex;
  height: 4vh;
  cursor: pointer;
  transition: all 0.2s ease;
}

.save-icon:hover {
  filter: invert(75%) sepia(72%) saturate(1943%) hue-rotate(93deg) brightness(104%) contrast(101%);
  transform: scale(1.05);
}

.essay_icon {
  position: relative;
  width: 100%;
  flex: 1;
}